.product-image-cart {
    display: flex;
    flex-direction: column;
    width: 12rem;
    height: 12rem;
    border: 1px solid #000000;
    background-color: #2a2a2a;
    color: white;
    border-radius: 12px;
    align-items: center;
    justify-content: center;
  }
  
  .cart-small-image {
    max-width: 95%;
    height: auto;
    border-radius: 3%;
  }
  

.ext-product-image-cart {
  display: flex;
  flex-direction: column;
  width: 15rem;
  height: 15rem;
  border: 3px solid rgb(246, 228, 37);
  background-color: #2a2a2a;
  color: white;
  border-radius: 12px;
  align-items: center;
  justify-content: center;
}
  
  .ext-small-image {
    max-width: 95%;
    height: auto;
    border-radius: 3%;
  }
  
  @media only screen and (max-width: 600px) {
    .product-image-cart {
      display: flex;
      margin: auto;
    }
    .ext-product-image-cart {
      display: flex;
      margin: auto;
    }
  }