.ext-cart-item {
  max-width: 52rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin: 1rem 0;
  background-color: #4b4b4b;
  border: 3px solid rgb(246, 228, 37);
  box-shadow: 0 0 40px rgb(246, 228, 37);
}

.ext-cart-item:hover {
  background-color: #464362;
}

.ext-cart-item__description {
  display: flex;
  flex-direction: column !important;
  gap: 1rem;
  align-items: flex-end;
  flex-flow: column-reverse;
  justify-content: flex-start;
  flex: 1;
  font-size: 16px;
  font-weight: 500;
}

.ext-cart-item__description-container {
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 70%;
  max-height: 200px;
  display: flex;
  flex-direction: column;
}

.ext-cart-item h2 {
  display: flex;
  color: #3a3a3a;
  font-size: 1rem;
  flex: 1;
  margin: 0 1rem;
  color: white;
}

.ext-cart-item__button-container-main {
  flex-direction: column;
  display: flex !important;
  justify-content: center !important;
}

.ext-cart-item__price {
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background-color: #35004e;
  border: 1px solid rgb(0, 0, 0);
  padding: 0.5rem;
  border-radius: 12px;
  width: 5.3rem;
}

.astext {
  background: none !important;
  border: none !important;
  margin: 0 !important;
  padding: 0 !important;
  cursor: pointer !important;
  font-size: 1rem !important;
  font-weight: 800 !important;
}

.astext:hover {
  color: #aca9bb !important;
}

.cart-item__add-btn-sm {
  font: inherit !important;
  font-weight: bold !important;
  cursor: pointer !important;
  padding: 1rem 2rem !important;
  border: 1px solid #000000 !important;
  background-color: #163900 !important;
  color: rgb(255, 255, 255) !important;
  border-radius: 12px !important;
  margin-left: 1rem !important;
  margin-top: 0.5rem;
}

.cart-item__add-btn-sm:hover{
  background-color: #286800 !important;
  border-color: #000000 !important;
}

@media only screen and (max-width: 600px) {
  .ext-cart-item {
    display: grid;
    margin-left: -2.3vw;
  }
  .ext-cart-item__description {
    flex-direction: column !important;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
  }

  .ext-cart-item__description h2 {
    font-size: 1.25rem;
  }

  .ext-cart-item__price {
    font-size: 1.25rem;
    padding: 0.5rem 1.5rem;
  }
}
