.ext-product-image {
    display: flex;
    flex-direction: column;
    width: 17rem;
    height: 17rem;
    border: 3px solid #000000;
    background-color: #2a2a2a;
    color: white;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
  }
  
  .ext-small-image {
    max-width: 100%;
    height: auto;
    border-radius: 3%;
  }
  

@media only screen and (max-width: 580px) {
  .ext-product-image{
    display: flex;
    margin: auto;
  }
}