.ext-product-image {
    display: flex;
    flex-direction: column;
    width: 15rem;
    height: 15rem;
    border: 3px solid rgb(246, 228, 37);
    background-color: #2a2a2a;
    color: white;
    border-radius: 12px;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 23px rgb(246, 228, 37)
  }
  
  .ext-small-image {
    max-width: 95%;
    height: auto;
    border-radius: 3%;
  }
  

@media only screen and (max-width: 580px) {
  .ext-product-image{
    display: flex;
    margin: auto;
    
  }
}