.ext-product-item {
  max-width: 52.5rem;
  width: 55vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin: 3.5rem 0;
  background-color: #4b4b4b;
  border: 3px solid rgb(246, 228, 37);
  box-shadow: 0 0 60px rgb(195, 195, 195)

}

.ext-product-item:hover {
  border: 3px solid #aca9bb;
  background-color: #464362;
}

.ext-product-item__description {
  display: flex;
  flex-direction: column !important;
  gap: 1rem;
  align-items: flex-end;
  flex-flow: column-reverse;
  justify-content: flex-start;
  flex: 1;
  font-size: 14px;
  font-weight: 500;
  align-items: center !important;
}

.ext-product-item__description-container {
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 85%;
  max-height: 200px;
  display: flex;
  flex-direction: column;
}

.ext-product-item h2 {
  display: flex;
  color: #3a3a3a;
  font-size: 1.3rem;
  flex: 1;
  margin: 0 1rem;
  color: white;
}

.ext-product-item__button-container-main {
  flex-direction: column;
  display: flex !important;
  justify-content: center !important;
}
.ext-product-item__price {
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background-color: #35004e;
  border: 1px solid rgb(0, 0, 0);
  padding: 0.5rem;
  border-radius: 12px;
  width: 7.15rem;
  margin-left: 1vw;
}

.ext-product-item__button-container button {
  display: flex;
  margin-top: 10px;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  background-color: #163900;
  border: 1px solid #000000;
  padding: 0.7rem;
  border-radius: 12px;
  margin-right: 1rem;
  margin-left: 1vw;
}

.ext-product-item__button-container button:hover,
.ext-product-item__button-container button:active {
  background-color: #286800;
  border-color: #000000;
}

.ext-product-item__button-container button.alternative {
  color: #c70404;
  border-color: transparent;
  background-color: transparent;
}

.ext-product-item__button-container button.alternative:hover,
.ext-product-item__button-container button.alternative:active {
  background-color: #000000;
}

.astext {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 800;
}

.astext:hover {
    color: #aca9bb;
}

@media only screen and (max-width: 580px) {
  .ext-product-item {
    width: 75vw;
    display: grid;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin: auto;
    margin-top: 2rem;
  }
  .ext-product-item__description {
    display: flex;
    flex-direction: column !important;
    gap: 1rem;
    align-items: center;
    flex-flow: column-reverse;
    justify-content: flex-start;
    flex: 1;
    font-size: 14px;
    font-weight: 500;
  }

  .ext-product-item__description h2 {
    display: flex;
    color: #3a3a3a;
    font-size: 1.3rem;
    flex: 1;
    margin: 0 1rem;
    margin-top: 0.5rem;
    color: white;
  }

  .ext-product-item__price {
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color: #35004e;
    border: 1px solid rgb(0, 0, 0);
    padding: 0.5rem;
    border-radius: 12px;
    width: 5.3rem;
    margin: auto;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
  }

  .ext-product-item__button-container button {
    display: flex;
    font-size: 0.8rem;
    font-weight: bold;
    width: 6.5rem;
    color: white;
    background-color: #163900;
    border: 1px solid #000000;
    padding: 0.7rem;
    border-radius: 12px;
    margin:auto;
  }
}

